@font-face {
  font-family: hamburg;
  src: url(../fonts/Hamburg-Regular.otf);
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: hamburg, sans-serif;
  margin: 0;
}

.menu {
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 36px;
  background-color: white;
  justify-content: space-between;
  height: 65px;
}

a {
  color: #00ade6;
}

.menu > a {
  padding: 10px;
  display: flex;
  align-items: center;
}

.topbar {
  position: fixed;
  margin: 0;
  top: 0;
  border-bottom: 1px solid lightgrey;
  max-width: 1400px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: block;
  height: 36px;
  z-index: 9999;
  background-color: #fff;
}

.topbar > ul {
  display: flex;
  font-size: 12px;
  list-style: none;
  justify-content: flex-end;
  height: 100%;
  margin: 0;
}

.topbar-item {
  font-size: 11px;
  padding: 0 10px;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.links {
  display: flex;
  align-items: center;
}

.links > a {
  margin: 0 1em;
}

.search {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
  width: 10rem;
  justify-content: space-around;
}

.actions > img {
  height: 40%;
}

.hero {
  height: 300px;
  background-image: url("../img/ahonline_smallBanner.png");
  background-size: cover;
  background-position: right;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 16px 16px 0;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  margin: 0 auto;
  width: 30vw;
  max-width: 22em;
  position: relative;
  background-color: white;
  top: -30px;
  box-shadow: 2px 2px 10px black;
}

.cards > :first-child > .cardtop {
  background-image: url("../img/colafles.jpg");
}

.cards > :nth-child(2) > .cardtop {
  background-image: url("../img/appelmoes.jpg");
}

.cards > :nth-child(3) > .cardtop {
  background-image: url("../img/robijn.jpg");
}

.cardtop {
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

.cardbottom {
  padding: 0 16px;
}

.cardtop > h3 {
  position: absolute;
  right: 24px;
  bottom: 24px;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.max-width {
  max-width: 1400px;
  margin: 0 auto;
}

.item {
  display: flex;
}

.item > img {
  max-width: 144px;
  max-height: 144px;
}

.product-card > .spotlight-text {
  padding: 0 16px;
}

.spotlight-text {
  padding: 24px 16px;
}

.content {
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  visibility: hidden;
}

.menu-large {
  display: flex;
  max-width: 1400px;
  left: 50%;
  transform: translateX(-50%);
}

.menu-small {
  display: none;
}

.adblocker {
  margin: 24px 0;
  border: 1px solid #d9d5d0;
  background: #edf6fc url('../img/background_blurred.png') 100% no-repeat;
}

footer {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  background-color: #f5f5f5;;
}

.product {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.product-left, .product-right {
  align-self: center;
  padding: 0 16px;
}

.product-left > img {
  height: 400px;
}

.suggestions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem;
}

.suggestion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestion > img {
  height: 100px;
}



/* MEDIA QUERIES */

@media screen and (max-width: 575px) {
  .cards {
    flex-direction: column;
  }
  .card {
    width: 90vw;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .product {
    flex-direction: column;
  }
  footer {
    height: unset;
    flex-direction: column;
  }
  .menu-large {
    display: none;
  }
  .menu-small{
    display: flex;
  }
  .topbar {
    display: none;
  }
  .menu {
    top: 0;
  }
  .actions {
    width: 4rem;
  }
}
@media screen and (max-width: 1400px) {
  .content {
    padding: 0 16px;
  }

}